.App {
  text-align: center;
  padding: 0 20px 20px 20px;
  background-color: aliceblue;
}

.postFormSection{
  position: fixed;
  z-index: 1000;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 25%;
  top: 25%;
}

.postSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} 

.headerSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPostBtn{
  position: fixed;
  right: 50px;
  background-color: lawngreen;
  padding: 10px;
  border: none !important;
  border-radius: 10px;
  font-weight: 600;
}
.addPostBtn:hover{
  opacity: 0.5;
}

.plusIcon{
  border: 1px solid #000;
  border-radius: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 900px){
  .postSection{
    flex-direction: column;
    align-items: center;
  } 
  .App{
    padding: 0 5px 0 5px;
  }
  .postFormSection{
    position: fixed;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    top: 10%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
